@font-face {
  font-family: "思源黑体 CN Regular";
  src: url("../font/SourceHanSansCN-Regular.otf") format("OpenType");
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    vertical-align: baseline;
}
.arrow {
    fill: none;
    stroke: #fff;
    stroke-width: 3.5;
    stroke-opacity: 0.55;
}
#select_wrapper select {
    font-size: 12px;
    /*font-family: pingfang SC;*/
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #EFF7FE;
    width: 58px;
}
option{
    color: #1F3051;
}
#select_wrapper {
    position: absolute;
    right: 5px;
    top: 20px;
}
#map {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
#user-list__box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 290px;
    background-color: #F2F2F2;
    z-index: 1001;
    border-radius: 14px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, .2);
}
#user-list__head {
    padding: 20px 0 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65px;
    background-image: url(../img/backgroun.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0 0 14px 14px;
    box-shadow: 0px 0px 10px 1px rgba(117,137,162, .16);
}
#user-list__title1 {
    font-size: 20px;
    /*font-family: pingfang SC;*/
    color: #fff;
}
#user-list__title2 {
    margin-top: 4px;
   /* font-family: pingfang SC;*/
    color: #fff;
    letter-spacing: 1px;
}
#order_wrapper {
    top: 60px;
    height: 26px;
    margin: 20px 50px;
    font-size: 10px;
    /*font-family: pingfang SC;*/
    color: #EFF7FE;
    position: relative;
    padding: 0;
}

#hover_bar{
    width: 30px;
    height: 3px;
    background-color: #567ABF;
    position: absolute;
    left: 30px;
    bottom: 0;
    transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1) 0s;
    border-radius: 2px;
}

#img_order {
    width: 10px;
    height: 10px;
    background-image: url(../img/order.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: 0;
}
#order_select {
    color: #567ABF;
    font-size: 14px;
    font-weight: 600;
    margin: 15px;
    cursor: pointer;
}

#order_input {
    color: #AFB8C5;
    font-size: 14px;
    font-weight: 500;
    margin: 15px;
    cursor: pointer;
}
#data_description {
    position: absolute;
    height: 20px;
    margin-top: 15px;
    top: 127px;
    font-size: 7px;
    text-align: center;
    left: 0;
    right: 0;
    color: #7793B9;
    letter-spacing: 0.4px;
}
#user-list__content {
    position: absolute;
    top: 170px;
    right: 0;
    bottom: 0;
    left: 20px;
    overflow-y: scroll;
}
.user-list__case {
    margin: 0 0 7px 0;
    border-radius: 6px;
    background-color: #fff;
    padding: 8px 10px 8px 20px;
    /*font-family: pingfang SC;*/
    color: #4164A6;
    font-size: 13px;
    width: 200px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: relative;
    box-shadow: 0px 0px 2px 1.5px rgba(117,137,162, .05);
    height: 18px;
    overflow: hidden;
    font-weight: 540;
    /*font-family: Times New Roman;*/
    font-family: 思源黑体 CN Regular;
}
.case_title_img {
    width: 16px;
    height: 16px;
    background-image: url(../img/portrait.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 15px;
}
.case_title_date {
    font-weight: 600;
}
.case_title_id {
    font-size: 13px;
    margin-left: 8px;
}
.case_title_block {
    transition: 0.2s ease-in-out;
    position: absolute;
    right: 20px;
    letter-spacing: 0.5px;
}
.case_body {
    transition: 0.2s ease-in-out;
    font-size: 12.5px;
    /*font-family: roboto bold;*/
    margin-top: 5px;
    color: #1F3051;
    letter-spacing: 0.5px;
    opacity: 0;
}
.fixed_svg {
    position: absolute;
    top: 0;
    left: 0;
}
.curve {
    fill: none;
    stroke-width: 8;
}
.site {
    stroke: none;
}
.date {
    /*font-family: "Roboto black";*/
    font-size: 10.5px;
}
.text_tag {
    font-size: 11px;
    /*font-family: "pingfang SC";*/
    fill: #1F3051;
    text-anchor: middle;
    letter-spacing: 0.2px;
}
#copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 998;
    background-color: #fff;
    color: #1F3051;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    border-radius: 12px;
    letter-spacing: 0.5px;
    padding: 2px 20px;
    margin: auto;
}
#author {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
    color: #1F3051;
    background-color: #fff;
    /*font-family: pingfang SC;*/
    font-size: 11px;
    line-height: 18px;
    border-radius: 8px 0 0 0;
    padding: 7px 18px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: white;
    color: #333;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.04);
}
.leaflet-popup-content {
    margin: 5px 25px 5px 15px;
}
.leaflet-popup-tip {
    width: 12px;
    height: 12px;
    padding: 1px;
    margin: -10px auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}